#container_playground {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center; 
}

#playground {
    /* background-color: antiquewhite; */
    display: grid;
    color: white;
    border: solid #55efc4 0.5px;
}

#timer {
    display: flex;
    grid-area: 1/1/5/25;
    align-items: center;
    justify-content: center; 
    /* background-color:chocolate; */
    
}
#timer_number {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center; 
    /* background-color:darkseagreen; */
    border: 0.5px solid #55efc4;
}
 #side_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
      /* grid-area: 5/1/25/6;
      background-color: dodgerblue; */
}
#side_right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
#side_middle {
    display: flex;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
}
#question {
    color: black;
    border: 0.5px solid #55efc4;
    background-color: #E0D44F;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}
#message_one_player {
    text-align: center;
}
#message_all_players {
    text-align: center;
}

/*
* @media
*/
/* 
* Screen larger than 100px? 
*/
@media (min-width: 100px) {
    #playground { 
        /* display: flex;  */
                width: 240;
                font-size: 10px ;
                
                grid-template-columns: repeat(24, 10px);
                grid-template-rows: repeat(34, 10px);
    }
    #timer_number {
        width: calc(10px * 4);
    }  
    #side_left {
        grid-area: 5/1/10/13;
        /* background-color: dodgerblue; */
  }
  #side_right {
        grid-area: 5/13/10/25;
        /* backgrsound-color:greenyellow; */
  }
  #side_middle {
        grid-area: 10/1/25/25;
        /* padding-top: 10px; */
        /* background-color:goldenrod; */
  }
  #question {
      text-align: center;
      margin-top: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
  }
  #responses {
    /* width: 100%; */
    margin-top: 10px;
  }
  #responses > div {
    border: 0.5px solid #55efc4;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom:  5px;
    margin-bottom: 12px;
    border-radius: 25px;  
  }
  #responses > div:hover {
    color: black;
    background-color: #E0D44F;
  } 

}/* End @media 100px */ 

/*
* Screen larger than 700px? 
*/
@media (min-width: 700px) {
    #playground {  
                width: 600px;
                font-size: 25px;
                grid-template-columns: repeat(24, 25px);
                grid-template-rows: repeat(24, 25px);
    }
    #timer_number {
        width: calc(25px * 4);
    } 
    #side_left {
        grid-area: 5/1/25/6;
        /* background-color: dodgerblue; */
        background: none;
  }
  #side_right {
        grid-area: 5/20/25/25;
        /* background-color:dodgerblue; */
  }
  #side_middle {
        grid-area: 5/6/25/20;
        /* background-color:goldenrod; */
        /* padding-top: 10px; */
        background: none;
  }
  #question {
      /* padding-top: 25px; */
      width: 100%;
      border: 0.5px solid #55efc4;
      margin-top: 25px;
      /* background-color: #E0D44F;
      color: black; */
      padding-top: 10px;
      padding-bottom: 10px;
  }
  #responses {
    width: 100%;
    margin-top: 25px;
  }
  #responses > div {
    border: 0.5px solid #55efc4;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom:  5px;
    margin-bottom: 12px;
    border-radius: 25px;  
  }
  #responses > div:hover {
    color: black;
    background-color: #E0D44F;
  } 

  
  } 
  /* Screen larger than 1000px? */
@media (min-width: 1450px) {
    #playground {  
        width: 720px;
        grid-template-columns: repeat(24, 30px);
        grid-template-rows: repeat(24, 30px); 
    }
    #timer_number {
        width: calc(30px * 4);
    }           
  }
/*super propriété  grid-row-start/grid-column-start/grid-row-end/grid-column-end*/